<h1>开关</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" uiAnchor id="基础用法">基础用法</h4>
  <div render="demo">
    <link rel="html" href="./demo.html">
  </div>
  <div render="desc">
    仿 iOS 风格开关组件。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>Typescript</ui-tab-button>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./switch-example.component.ts">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" uiAnchor id="不同风格的组件">不同风格的组件</h4>
  <div render="demo">
    <link rel="html" href="./demo1.html">
  </div>
  <div render="desc">
    设置不同的 class，让组件呈现不同的风格。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo1.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" uiAnchor id="设置组件的只读与禁用">设置组件的只读与禁用</h4>
  <div render="demo">
    <link rel="html" href="./demo2.html">
  </div>
  <div render="desc">
    通过组件的 <code>readonly</code> 和 <code>disabled</code> 属性，设置组件的只读与禁用。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo2.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>

<div class="doc-content">
  <link rel="markdown" href="./switch-example.component.md">
</div>

<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="基础用法">基础用法</a>
    <a uiAnchorLink routerLink="./" fragment="不同风格的组件">不同风格的组件</a>
    <a uiAnchorLink routerLink="./" fragment="设置组件的只读与禁用">设置组件的只读与禁用</a>
    <a uiAnchorLink routerLink="./" fragment="输入属性">输入属性</a>
    <a uiAnchorLink routerLink="./" fragment="输出事件">输出事件</a>
  </div>
</div>
