<h1>按扭组</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" uiAnchor id="基础用法">基础用法</h4>
  <div render="demo">
    <link rel="html" href="./demo.html">
  </div>
  <div render="desc">
    主要用于更直观的切换应用的状态
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>Typescript</ui-tab-button>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./segment-example.component.ts">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<div class="doc-content">
  <link rel="markdown" href="./doc.md">
</div>
<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="基础用法">基础用法</a>
    <a uiAnchorLink routerLink="./" fragment="ui-segment-组件">ui-segment-组件</a>
    <a uiAnchorLink routerLink="./" class="h4" fragment="ui-segment-输入属性">输入属性</a>
    <a uiAnchorLink routerLink="./" class="h4" fragment="ui-segment-输出事件">输出事件</a>
    <a uiAnchorLink routerLink="./" fragment="ui-segment-button-组件">ui-option-组件</a>
    <a uiAnchorLink routerLink="./" class="h4" fragment="ui-segment-button-输入属性">输入属性</a>
    <a uiAnchorLink routerLink="./" class="h4" fragment="ui-segment-button-输出事件">输出事件</a>
  </div>
</div>
