<h1>输入框</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" uiAnchor id="基础用法">基础用法</h4>
  <div render="demo">
    <link rel="html" href="./demo.html">
  </div>
  <div render="desc">
    <p>把输入框声明为 <code>uiInput</code>，即可使用 <code>uiInput</code> 的相应功能。</p>
    <div class="ui-alert">
      <strong class="ui-color-success">提示：</strong> <code>textarea</code> 标签也可以使用 <code>uiInput</code> 为其添加样式和功能
    </div>
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" uiAnchor id="带-icon-或文字的输入框">带 icon 或文字的输入框</h4>
  <div render="demo">
    <link rel="html" href="./demo1.html">
  </div>
  <div render="desc">
    组合 <code>ui-input-group</code> 和 <code>ui-input-addon</code> 组件，可让输入框和 icon 形成一组。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo1.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" uiAnchor id="不同大小的输入框">不同大小的输入框</h4>
  <div render="demo">
    <link rel="html" href="./demo2.html">
  </div>
  <div render="desc">
    设置 <code>ui-input-group</code> 或 <code>uiInput</code> 的 <code>size</code> 属性，可控制组件显示大小。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo2.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="基础用法">基础用法</a>
    <a uiAnchorLink routerLink="./" fragment="带-icon-或文字的输入框">带 icon 或文字的输入框</a>
    <a uiAnchorLink routerLink="./" fragment="不同大小的输入框">不同大小的输入框</a>
  </div>
</div>
