<h1>按扭</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" id="不同风格的按扭" uiAnchor>不同风格的按扭</h4>
  <div render="demo" class="btn-demo">
    <link rel="html" href="./button-theme.html">
  </div>
  <div render="desc">通过不同的 class 类，设置不同的颜色。</div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./button-theme.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="不同大小的按扭" uiAnchor>不同大小的按扭</h4>
  <div render="demo">
    <link rel="html" href="./button-size.html">
  </div>
  <div render="desc">通过不同的 class 类，设置不同的大小。</div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./button-size.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="按扭组" uiAnchor>按扭组</h4>
  <div render="demo">
    <link rel="html" href="./button-group.html">
  </div>
  <div render="desc">通过 <code>ui-btn-group</code> 组件，包裹 <code>.ui-btn</code> 类，即可让按扭呈现出组合样式。</div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./button-group.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="loading-按扭" uiAnchor>loading 按扭</h4>
  <div render="demo" class="btn-demo">
    <link rel="html" href="./button-loading.html">
  </div>
  <div render="desc">
    设置 <code>uiButton</code> 组件的 <code>loading</code> 属性，控制是否显示 loading 状态。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>Typescript</ui-tab-button>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./button-example.component.ts">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./button-loading.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="不同风格的按扭">不同风格的按扭</a>
    <a uiAnchorLink routerLink="./" fragment="不同大小的按扭">不同大小的按扭</a>
    <a uiAnchorLink routerLink="./" fragment="按扭组">按扭组</a>
    <a uiAnchorLink routerLink="./" fragment="loading-按扭">loading 按扭</a>
  </div>
</div>
