<div class="doc">
  <h3 uiAnchor id="开发中">正在开发</h3>
  <div>
    <p><ui-input type="checkbox" readonly></ui-input> 抽象数据结构</p>
  </div>
  <h3 uiAnchor id="已完成">已完成的功能</h3>
  <div>
    <p><ui-input type="checkbox" checked readonly class="ui-dark"></ui-input> 抽象数据结构</p>
    <p><ui-input type="checkbox" checked readonly class="ui-dark"></ui-input> 状态匹配器</p>
    <p><ui-input type="checkbox" checked readonly class="ui-dark"></ui-input> 工具条</p>
  </div>
  <h3 uiAnchor id="规划中">规划中的功能</h3>
  <div>
    <p><ui-input type="checkbox" readonly></ui-input> 抽象数据结构</p>
  </div>
</div>
<div class="doc-quick-links">
  <a uiAnchorLink routerLink="./" fragment="开发中">开发中</a>
  <a uiAnchorLink routerLink="./" fragment="已完成">已完成</a>
  <a uiAnchorLink routerLink="./" fragment="规划中">规划中</a>
</div>
