<h1>常见表单示例</h1>
<ui-divider></ui-divider>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="普通表单">普通表单</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo1.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo1.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="流体布局">流体布局</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo4.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo4.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="inline-布局">inline 布局</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo5.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo5.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="多列布局">多列布局</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo8.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo8.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="字段注释表单">字段注释表单</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>左右布局</ui-tab-button>
        <ui-tab-button>左右布局源码</ui-tab-button>
        <ui-tab-button>流体布局</ui-tab-button>
        <ui-tab-button>流体布局源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo6.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo6.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="html" href="./demo7.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo7.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="强调或弱化字段文字">强调或弱化字段文字</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>强调示例</ui-tab-button>
        <ui-tab-button>强调示例源码</ui-tab-button>
        <ui-tab-button>弱化示例</ui-tab-button>
        <ui-tab-button>弱化示例源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo9.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo9.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="html" href="./demo10.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo10.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="更小的表单">更小的表单</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo2.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo2.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<ui-panel class="ui-fill">
  <ui-panel-header>
    <h3 class="ui-panel-title" uiAnchor id="更大的表单">更大的表单</h3>
  </ui-panel-header>
  <ui-panel-body>
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>示例</ui-tab-button>
        <ui-tab-button>源码</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="html" href="./demo3.html">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo3.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </ui-panel-body>
</ui-panel>
<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="普通表单">普通表单</a>
    <a uiAnchorLink routerLink="./" fragment="流体布局">流体布局</a>
    <a uiAnchorLink routerLink="./" fragment="inline-布局">inline 布局</a>
    <a uiAnchorLink routerLink="./" fragment="多列布局">多列布局</a>
    <a uiAnchorLink routerLink="./" fragment="字段注释表单">字段注释表单</a>
    <a uiAnchorLink routerLink="./" fragment="强调或弱化字段文字">强调或弱化字段文字</a>
    <a uiAnchorLink routerLink="./" fragment="更小的表单">更小的表单</a>
    <a uiAnchorLink routerLink="./" fragment="更大的表单">更大的表单</a>
  </div>
</div>
