<h1>表格</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" uiAnchor id="普通表格">普通表格</h4>
  <div render="demo">
    <link rel="html" href="demo.html">
  </div>
  <div render="desc">
    将普通表格，添加 <code>ui-table</code> 类，即可重置其样式。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="鼠标移入高亮" uiAnchor>鼠标移入高亮</h4>
  <div render="demo">
    <link rel="html" href="demo1.html">
  </div>
  <div render="desc">
    添加 <code>ui-table-hover</code> 类，即可让每一行在鼠标移入时呈现高亮效果。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo1.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="给表格增加边框" uiAnchor>给表格增加边框</h4>
  <div render="demo">
    <link rel="html" href="demo2.html">
  </div>
  <div render="desc">
    添加 <code>ui-table-bordered</code> 类，可让表格显示所有边框。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo2.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="给表格添加斑马纹效果" uiAnchor>给表格添加斑马纹效果</h4>
  <div render="demo">
    <link rel="html" href="demo3.html">
  </div>
  <div render="desc">
    添加 <code>ui-table-striped</code> 类，可让表格呈现斑马纹效果。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo3.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="更紧凑的表格" uiAnchor>更紧凑的表格</h4>
  <div render="demo">
    <link rel="html" href="demo4.html">
  </div>
  <div render="desc">
    添加 <code>ui-table-condensed</code> 类，让表格间的间距变得更小。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo4.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view class="responsive-table-wrap">
  <h4 render="title" id="可滚动的表格" uiAnchor>可滚动的表格</h4>
  <div render="demo">
    <link rel="html" href="demo5.html">
  </div>
  <div render="desc">
    将表格放在 <code>ui-table-responsive</code> 内，可让表格在内容过多时，显示滚动条。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo5.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="给行或单元格添加风格" uiAnchor>给行或单元格添加风格</h4>
  <div render="demo">
    <link rel="html" href="demo6.html">
  </div>
  <div render="desc">
    给行或单元格添加 <code>ui-primary</code>、<code>ui-success</code>、<code>ui-info</code>、<code>ui-warning</code>、<code>ui-danger</code>、<code>ui-active</code>
    类，可为其添加风格效果。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo6.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" id="为每一行增加可选择功能" uiAnchor>为每一行增加可选择功能</h4>
  <div render="demo">
    <link rel="html" href="demo7.html">
  </div>
  <div render="desc">
    把表格设置为 <code>uiTable</code>，并在表头的 <code>tr</code> 上声明全选 <code>uiTableAllSelector</code>，同时把 <code>tbody</code> 每一项声明为可选项，即可实现一个带选择功能的表格。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>Typescript</ui-tab-button>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="table-example.component.ts">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="demo7.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>

<div class="doc-content">
  <link rel="markdown" href="doc.md">
</div>
<div class="doc-content3">
  <link rel="markdown" href="./css-doc.md">
</div>

<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="../" fragment="普通表格">普通表格</a>
    <a uiAnchorLink routerLink="../" fragment="鼠标移入高亮">鼠标移入高亮</a>
    <a uiAnchorLink routerLink="../" fragment="给表格增加边框">给表格增加边框</a>
    <a uiAnchorLink routerLink="../" fragment="给表格添加斑马纹效果">给表格添加斑马纹效果</a>
    <a uiAnchorLink routerLink="../" fragment="更紧凑的表格">更紧凑的表格</a>
    <a uiAnchorLink routerLink="../" fragment="可滚动的表格">可滚动的表格</a>
    <a uiAnchorLink routerLink="../" fragment="给行或单元格添加风格">给行或单元格添加风格</a>
    <a uiAnchorLink routerLink="../" fragment="为每一行增加可选择功能">为每一行增加可选择功能</a>
    <a uiAnchorLink routerLink="../" fragment="uiTable">uiTable</a>
    <a uiAnchorLink routerLink="../" class="h4" fragment="uiTable-输出事件">输出事件</a>
    <a uiAnchorLink routerLink="../" fragment="uiTableAllSelector">uiTableAllSelector</a>
    <a uiAnchorLink routerLink="../" fragment="uiTableSelectableItem">uiTableSelectableItem</a>
    <a uiAnchorLink routerLink="../" class="h4" fragment="uiTableSelectableItem-输入属性">输入属性</a>
    <a uiAnchorLink routerLink="../" class="h4" fragment="uiTableSelectableItem-输出事件">输出事件</a>
    <a uiAnchorLink routerLink="../" fragment="css-说明">css 说明</a>
  </div>
</div>
