@import "../../../assets/scss/varibles";

.editor-tabs {
  label {
    margin-right: 30px;
  }
}

.ui-timeline-content {
  display: flex;
  padding-right: 15px;
  > div {
    flex: 1;
    border: 1px solid $color-light;
    padding: 5px 15px;
    &:nth-child(2n) {
      background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), .04);
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    pre {
      white-space: pre-wrap;
    }
  }

  > div + div {
    display: none;
    border-left: 0;
  }
}

ui-timeline.wangEditor {
  .ui-timeline-content {
    > div:nth-child(2) {
      display: block;
    }
  }
}
ui-timeline.TinyMCE {
  .ui-timeline-content {
    > div:nth-child(3) {
      display: block;
    }
  }
}
ui-timeline.UEditor {
  .ui-timeline-content {
    > div:nth-child(4) {
      display: block;
    }
  }
}
ui-timeline.KindEditor {
  .ui-timeline-content {
    > div:nth-child(5) {
      display: block;
    }
  }
}
ui-timeline.Textbox {
  .ui-timeline-content {
    > div:nth-child(6) {
      display: block;
    }
  }
}
ui-timeline.CKEditor {
  .ui-timeline-content {
    > div:nth-child(7) {
      display: block;
    }
  }
}
ui-timeline.Quill {
  .ui-timeline-content {
    > div:nth-child(8) {
      display: block;
    }
  }
}
