<div class="doc">
  <link rel="markdown" href="./home.md">
  <h3 uiAnchor id="通过标签引入-TBus">通过标签引入 TBus</h3>
  <p>你也可以直接下载 TBus 的 js 文件和 css 文件，然后引用到你的页面中：</p>
  <p>
    点击下载
    <a href="/static/tbus/tbus.min.js" download>tbus.min.js</a> &nbsp;
    <a href="/static/tbus/tbus.min.css" download>tbus.min.css</a>
  </p>
  <link rel="markdown" href="./home2.md">
  <h3 uiAnchor id="TBus-的亮点">TBus 的亮点</h3>
  <h5 uiAnchor id="简洁的输出结果">简洁的输出结果</h5>
  <p>得益于先进的设计，TBus 有着对内容非同一般的优化能力。我们对目前相对比较流行的富文本编辑器做了相同测试（时间：2019-12-27）：<br>
    <a href="http://www.wangeditor.com/" target="_blank">wangEditor</a>、
    <a href="https://www.tiny.cloud/docs/demo/full-featured/" target="_blank">TinyMCE</a>、
    <a href="http://ueditor.baidu.com/website/onlinedemo.html" target="_blank">UEditor</a>、
    <a href="http://kindeditor.net/demo.php" target="_blank">KindEditor</a>、
    <a href="https://textbox.io/" target="_blank">Textbox</a>、
    <a href="https://ckeditor.com/ckeditor-5/demo/" target="_blank">CKEditor</a>、
    <a href="https://quilljs.com/" target="_blank">Quill</a>，<br>在同样操作的情况下，对比输出的结果，可以看到，在任何情况下，TBus
    编辑器都有着优异的输出结果，而其它编辑器，输出结果却不能总是保证是最优结果，测试对比结果如下：
  </p>
  <ui-panel class="ui-fill">
    <ui-panel-header>
      <form class="editor-tabs">
        <label><strong>TBus</strong></label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.wangEditor" name="wangEditor" value="wangEditor"></ui-input>
          wangEditor</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.TinyMCE" name="TinyMCE" value="TinyMCE"></ui-input>
          TinyMCE</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.UEditor" name="UEditor" value="UEditor"></ui-input>
          UEditor</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.KindEditor" name="KindEditor" value="KindEditor"></ui-input>
          KindEditor</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.Textbox" name="Textbox" value="Textbox"></ui-input>
          Textbox</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.CKEditor" name="CKEditor" value="CKEditor"></ui-input>
          CKEditor</label>
        <label>
          <ui-input type="checkbox" [(ngModel)]="editors.Quill" name="Quill" value="Quill"></ui-input>
          Quill</label>
      </form>
    </ui-panel-header>
    <ui-panel-body>
      <ui-timeline [ngClass]="editors">
        <ui-timeline-item checked>
          <div class="ui-timeline-content" style="font-weight: bold">
            <div>TBus</div>
            <div>wangEditor</div>
            <div>TinyMCE</div>
            <div>UEditor</div>
            <div>KindEditor</div>
            <div>Textbox</div>
            <div>CKEditor</div>
            <div>Quill</div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">1、输入 0123456789ABCDEFG</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step1/TBus.html">
              <link rel="markdown" href="step1/TBus.html">
            </div>
            <div>
              <link rel="html" href="step1/wangEditor.html">
              <link rel="markdown" href="step1/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step1/TinyMCE.html">
              <link rel="markdown" href="step1/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step1/UEditor.html">
              <link rel="markdown" href="step1/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step1/KindEditor.html">
              <link rel="markdown" href="step1/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step1/Textbox.html">
              <link rel="markdown" href="step1/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step1/CKEditor.html">
              <link rel="markdown" href="step1/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step1/Quill.html">
              <link rel="markdown" href="step1/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">2、B~F 加粗</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step2/TBus.html">
              <link rel="markdown" href="step2/TBus.html">
            </div>
            <div>
              <link rel="html" href="step2/wangEditor.html">
              <link rel="markdown" href="step2/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step2/TinyMCE.html">
              <link rel="markdown" href="step2/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step2/UEditor.html">
              <link rel="markdown" href="step2/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step2/KindEditor.html">
              <link rel="markdown" href="step2/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step2/Textbox.html">
              <link rel="markdown" href="step2/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step2/CKEditor.html">
              <link rel="markdown" href="step2/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step2/Quill.html">
              <link rel="markdown" href="step2/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">3、2~6 加粗</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step3/TBus.html">
              <link rel="markdown" href="step3/TBus.html">
            </div>
            <div>
              <link rel="html" href="step3/wangEditor.html">
              <link rel="markdown" href="step3/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step3/TinyMCE.html">
              <link rel="markdown" href="step3/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step3/UEditor.html">
              <link rel="markdown" href="step3/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step3/KindEditor.html">
              <link rel="markdown" href="step3/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step3/Textbox.html">
              <link rel="markdown" href="step3/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step3/CKEditor.html">
              <link rel="markdown" href="step3/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step3/Quill.html">
              <link rel="markdown" href="step3/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">4、4~D 斜体</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step4/TBus.html">
              <link rel="markdown" href="step4/TBus.html">
            </div>
            <div>
              <link rel="html" href="step4/wangEditor.html">
              <link rel="markdown" href="step4/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step4/TinyMCE.html">
              <link rel="markdown" href="step4/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step4/UEditor.html">
              <link rel="markdown" href="step4/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step4/KindEditor.html">
              <link rel="markdown" href="step4/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step4/Textbox.html">
              <link rel="markdown" href="step4/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step4/CKEditor.html">
              <link rel="markdown" href="step4/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step4/Quill.html">
              <link rel="markdown" href="step4/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">5、6~B 加粗</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step5/TBus.html">
              <link rel="markdown" href="step5/TBus.html">
            </div>
            <div>
              <link rel="html" href="step5/wangEditor.html">
              <link rel="markdown" href="step5/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step5/TinyMCE.html">
              <link rel="markdown" href="step5/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step5/UEditor.html">
              <link rel="markdown" href="step5/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step5/KindEditor.html">
              <link rel="markdown" href="step5/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step5/Textbox.html">
              <link rel="markdown" href="step5/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step5/CKEditor.html">
              <link rel="markdown" href="step5/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step5/Quill.html">
              <link rel="markdown" href="step5/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
        <ui-timeline-item checked>
          <h4 class="ui-timeline-title">6、0~G 斜体</h4>
          <div class="ui-timeline-content">
            <div>
              <link rel="html" href="step6/TBus.html">
              <link rel="markdown" href="step6/TBus.html">
            </div>
            <div>
              <link rel="html" href="step6/wangEditor.html">
              <link rel="markdown" href="step6/wangEditor.html">
            </div>
            <div>
              <link rel="html" href="step6/TinyMCE.html">
              <link rel="markdown" href="step6/TinyMCE.html">
            </div>
            <div>
              <link rel="html" href="step6/UEditor.html">
              <link rel="markdown" href="step6/UEditor.html">
            </div>
            <div>
              <link rel="html" href="step6/KindEditor.html">
              <link rel="markdown" href="step6/KindEditor.html">
            </div>
            <div>
              <link rel="html" href="step6/Textbox.html">
              <link rel="markdown" href="step6/Textbox.html">
            </div>
            <div>
              <link rel="html" href="step6/CKEditor.html">
              <link rel="markdown" href="step6/CKEditor.html">
            </div>
            <div>
              <link rel="html" href="step6/Quill.html">
              <link rel="markdown" href="step6/Quill.html">
            </div>
          </div>
        </ui-timeline-item>
      </ui-timeline>
    </ui-panel-body>
  </ui-panel>
</div>
<div class="doc-quick-links">
  <a uiAnchorLink routerLink="./" fragment="安装">安装</a>
  <a uiAnchorLink routerLink="./" fragment="通过标签引入-TBus">通过标签引入-TBus</a>
  <a uiAnchorLink routerLink="./" fragment="功能定制">功能定制</a>
  <a uiAnchorLink routerLink="./" fragment="TBus-的亮点">TBus 的亮点</a>
  <a uiAnchorLink class="h4" routerLink="./" fragment="简洁的输出结果">简洁的输出结果</a>
</div>
