<h1 id="合作与赞助" uiAnchor>合作与赞助</h1>

<p>TBus 的成长离不开社会的支持，如果 TBus 为你带来了帮助，并且你也认同为知识付费，同时鼓励我们做的更好，欢迎通过下面的二维码表达你的支持</p>

<div class="qrcode">
 <img src="../../../assets/images/editor/alipay.jpg" alt="支付宝收款码">
 <img src="../../../assets/images/editor/wx.jpg" alt="微信收款码">
</div>

<p>如果你有特殊的需求或想要和我们一起开发 TBus 的后续功能，可以先加入 TBus 的官方交流 QQ 群（786923770），然后和群主联系。</p>
<div class="qq-group">
  <img src="../../../assets/images/qq.jpg">
</div>

<div class="doc-quick-links">
  <a uiAnchorLink routerLink="./" fragment="合作与赞助">合作与赞助</a>
</div>
