<div class="banner ui-container-fluid">
  <div class="bg"></div>
  <div class="ui-container">
    <div class="ui-clearfix top">
      <div class="ui-pull-left">
        <h1>TBus <small>内测版 {{ version }}</small></h1>
      </div>
      <div class="nav ui-pull-right">
        <a routerLink="../start">快速开始</a>
        <a routerLink="../start/architecture">文档</a>
        <a routerLink="../start/architecture">开发者中心</a>
        <a href="javascript:;">QQ 群
          <div>
            <img src="../../assets/images/qq.jpg">
          </div>
        </a>
<!--        <a href="javascript:;">赞助</a>-->
        <a target="_blank" href="https://github.com/tbhuabi/editor"><span class="icon-github"></span> Github</a>
      </div>
    </div>

    <div class="ui-text-left" #editor></div>
    <p class="desc">
      <strong>基于组件的下一代富文本编辑器</strong><br>
      是编辑器，也是框架，就是你想要的！
    </p>
  </div>
</div>
<div class="quick-links">
  <a class="ui-btn ui-btn-success ui-btn-lg" routerLink="../start">开 始</a>
  <a class="ui-btn ui-btn-dark ui-btn-lg" routerLink="../start">文档中心</a>
</div>
<div class="advantage">
  <div class="ui-container">
    <h3>TBus 的特点</h3>
    <div class="ui-row">
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-database"></span>
        </div>
        <div class="desc">
          <h4>抽象数据模型</h4>
          <p>高度抽象的 Component，可轻松创建各种酷炫的效果，定制属于你自己的富文本编辑器，不再是难题</p>
        </div>
      </div>
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-embed2"></span>
        </div>
        <div class="desc">
          <h4>代码高亮</h4>
          <p>当 Markdown，不能满足排版需求时，富文本里写代码，一样可以支持高亮，程序员写文档的实用利器</p>
        </div>
      </div>
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-cogs"></span>
        </div>
        <div class="desc">
          <h4>易扩展</h4>
          <p>基于 Typescript，面向接口操作数据结构，无需关心底层实现，扩展功能不再是难题</p>
        </div>
      </div>
    </div>
    <div class="ui-row">
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-table"></span>
        </div>
        <div class="desc">
          <h4>流畅的表格操作</h4>
          <p>支持框选操作表格，方便的批量编辑单元格，让富文本有类似 excel 般的体验</p>
        </div>
      </div>
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-rocket"></span>
        </div>
        <div class="desc">
          <h4>更简短的输出结果</h4>
          <p>高效的优化算法，可输出最简短的 HTML，这意味着更快的下载速度，更小的储存空间，更少的带宽</p>
        </div>
      </div>
      <div class="ui-col-sm-8">
        <div class="icon">
          <span class="icon-font"></span>
        </div>
        <div class="desc">
          <h4>多种主题</h4>
          <p>简洁的多种主题，更容易适配不同类型的网站</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="git-link">
  <a class="ui-btn ui-btn-default ui-btn-lg" target="_blank" href="https://github.com/tbhuabi/editor"><span class="icon-star-full"></span> Star | 2344</a>
</div>
