<h1>标签</h1>
<ui-divider></ui-divider>

<code-view>
  <h4 render="title" uiAnchor id="基础用法">基础用法</h4>
  <div render="demo">
    <link rel="html" href="./demo.html">
  </div>
  <div render="desc">
    通过组合 <code>ui-outline</code>、<code>ui-circle</code> 类，可以让组件呈现更多样式。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<code-view>
  <h4 render="title" uiAnchor id="可关闭的的标签">可关闭的的标签</h4>
  <div render="demo">
    <tag-demo1></tag-demo1>
  </div>
  <div render="desc">
    给 <code>ui-tab</code> 声明 <code>closable</code> 属性，可让组件呈现可关闭状态，并且可触发 <code>uiClose</code> 事件。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>Typescript</ui-tab-button>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo1.component.ts">
        </ui-tab-view-item>
        <ui-tab-view-item>
          <link rel="markdown" href="./demo1.component.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>

<div class="doc-content">
  <link rel="markdown" href="./doc.md">
</div>

<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="基础用法">基础用法</a>
    <a uiAnchorLink routerLink="./" fragment="可关闭的的标签">可关闭的的标签</a>
    <a uiAnchorLink routerLink="./" fragment="输入属性">输入属性</a>
    <a uiAnchorLink routerLink="./" fragment="输出事件">输出事件</a>
  </div>
</div>
