@import "../../../assets/scss/varibles";

.ui-form-group {
  margin-bottom: 10px;
  background-color: $color-lighter;
  padding: 10px 15px;
  border-radius: 10px;
}

.ui-control-label {
  width: 180px;
  padding-right: 20px;
}

.ui-control-static {
  border-left: 1px dashed $color-light;
  padding-left: 20px;
}

label {
  line-height: 1.2;
  code {
    color: #fff;
    background-color: $color-dark;
    font-weight: bold;
  }
  small {
    font-weight: bold;
  }
}
