@import "../../../assets/scss/varibles";

.ui-form-group {
  margin-bottom: 10px;
}

label {
  line-height: 1.2;
  code {
    color: #fff;
    background-color: $color-dark;
    font-weight: bold;
  }
  small {
    font-weight: bold;
  }
}
