<h2>名词解释</h2>
<p>为了在使用中更好的利用 TBus 提供的一系列能力，准确的理解 TBus 中和各种概念是非常必要的。下面我们分别对基础数据、交互能力、选区、渲染及其它相关的名词术语作一一解释。</p>
<div>
  <div class="ui-form-group">
    <label class="ui-control-label"></label>
    <div class="ui-control-value">
      <h3 class="ui-color-primary" uiAnchor id="基础数据">基础数据</h3>
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Template</code> <br><small>模板</small></label>
    <div class="ui-control-static">
      一段固定的数据结构样板，并且自已保存需要的数据，并实现根据自身的数据渲染对应虚拟 DOM 树。<br>模板必须从属于一个 <code>Fragment</code>。同时，模板也可以有任意个自己的子插槽，即 <code>Slot</code>，模板根节点与 <code>Slot</code> 之间的固定结构不可编辑，但每一个 <code>Slot</code> 都是一个可编辑的区域。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Fragment</code> <br><small>可编辑域</small></label>
    <div class="ui-control-static">
      <code>Fragment</code> 为一段可编辑区域，可以插入任意的模板和字符串。同时，<code>Fragment</code> 还保存了对应内容的 <code>FormatMap</code>。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Slot</code> <br><small>插槽</small></label>
    <div class="ui-control-static">
      插槽为一个抽象的概念。在 TBus 中，一个插槽，意味着一段可编辑的区域（即 <code>Fragment</code>），它们总是呈一对一映射关系的。<br>
      如一个无序列表 ul，每一个子插槽都是一个 li，li 的内容可以是变化的，但 ul 的子级总是 li，这是不可变的。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>TemplateTranslator</code> <br><small>模板转换器</small></label>
    <div class="ui-control-static">
      模板转换器负责把一段匹配到的 HTML 元素，转换为对应的 <code>Template</code> 实例。当我们要扩展 TBus 的结构样板时，可以自定义一个转换器，并添加在 TBus 配置项的 templateTranslators 中。<br> TBus 所有的核心模板也都是以同样方式实现的。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Formatter</code> <br><small>格式转换器</small></label>
    <div class="ui-control-static">
      格式转换器负责把匹配到的格式转换为抽象的格式数据（<code>FormatAbstractData</code>），并根据不同的上下文及状态渲染相应格式。当我们要扩展格式的时候，就可以通过继承 <code>BlockFormatter</code> 或 <code>InlineFormatter</code>，并把对应实例添加到 TBus 配置项的 Formatters 选项中，来实现自己想要的格式。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>FormatRange</code> <br><small>格式范围</small></label>
    <div class="ui-control-static">
      标记一段格式的范围及状态
    </div>
  </div>
</div>
<div>
  <div class="ui-form-group">
    <label class="ui-control-label"></label>
    <div class="ui-control-value">
      <h3 class="ui-color-primary" uiAnchor id="交互能力">交互能力</h3>
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Tool</code> <br><small>操作工具</small></label>
    <div class="ui-control-static">
      用于操作 TBus 的工具类，当用户点击或选择工具类时，执行对应的 Command 命令。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Commander</code> <br><small>格式化命令</small></label>
    <div class="ui-control-static">
      提供了操作 TBus 抽象数据的能力。当用户操作某项工具时，用于响应并执行对应操作。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Matcher</code> <br><small>匹配器</small></label>
    <div class="ui-control-static">
      用于查询选区与工具匹配规则之间的状态，分为三种：<code>Disabled</code>、<code>Highlight</code>、<code>Normal</code>
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Lifecycle</code> <br><small>生命周期</small></label>
    <div class="ui-control-static">
      当用户触发或 TBus 运行到某些关键节点时，所广播的事件，监听这些事件，并作出操作，可扩展出除了 <code>Commander</code> 以外额外的能力。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Events</code> <br><small>事件</small></label>
    <div class="ui-control-static">
      当用户输入、删除、粘贴等一系列可能修当前数据的行为时，会在当前虚拟 DOM 节点上触发相应事件，并逐级向上冒泡，直到根节点，或取消冒泡。
    </div>
  </div>
</div>

<div>
  <div class="ui-form-group">
    <label class="ui-control-label"></label>
    <div class="ui-control-value">
      <h3 class="ui-color-primary" uiAnchor id="选区">选区</h3>
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>TBSelection</code> <br><small>选区集合对象</small></label>
    <div class="ui-control-static">
      用于记录一段或多段已选择的范围（<code>TBRange</code>），并提供了一系列针对选区的操作。
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>TBRange</code> <br><small>选区对象</small></label>
    <div class="ui-control-static">
      用于选择一段数据，并执行如：删除、查找范围、合并等操作。
    </div>
  </div>
</div>
<div>
  <div class="ui-form-group">
    <label class="ui-control-label"></label>
    <div class="ui-control-value">
      <h3 class="ui-color-primary" uiAnchor id="渲染">渲染</h3>
    </div>
  </div>
  <div class="ui-form-group">
    <label class="ui-control-label ui-control-label-compact"><code>Renderer</code> <br><small>渲染器</small></label>
    <div class="ui-control-static">用于渲染一段抽象数据（<code>Fragment</code>）。将 <code>Fragment</code> 生成虚拟 DOM，并对新旧两次的虚拟 DOM 树作 diff 运算，求出最小更新范围，并更新真实 DOM。<br> <code>Renderer</code> 对象还提供了一系列的查询方法，这些方法可以方便的获取 <code>Fragment</code>、<code>VDom</code>、<code>Template</code> 与真实 DOM 节点之前的关系。</div>
  </div>
</div>


<div class="doc-quick-links">
  <a uiAnchorLink routerLink="./" fragment="名词解释">名词解释</a>
  <a uiAnchorLink routerLink="./" fragment="基础数据">基础数据</a>
  <a uiAnchorLink routerLink="./" fragment="交互能力">交互能力</a>
  <a uiAnchorLink routerLink="./" fragment="选区">选区</a>
  <a uiAnchorLink routerLink="./" fragment="渲染">渲染</a>
</div>
