<div class="left" [class.thumbnail]="thumbnail">
  <div class="top">
    <div class="about">
      <div class="avatar">
        <img src="../../../assets/images/avatar.jpeg">
      </div>
      <div class="btn-group">
        <a class="ui-btn ui-btn-sm ui-btn-success" href="mailto:tanbohb@gmail.com">Email</a>&nbsp;
        <a class="ui-btn ui-btn-sm ui-btn-success" href="javascript:;" target="_blank">Github</a>
      </div>
    </div>
    <div class="version">
      <button type="button" class="ui-btn ui-btn-sm ui-btn-dark" (click)="toggle()"><span class="icon-list"></span>
      </button>
      <span>&nbsp;当前版本：{{ version }}</span>
    </div>
  </div>
  <ui-scroll (wheel)="$event.preventDefault()">
    <ui-nav class="nav" [thumbnail]="thumbnail">
      <ui-nav-item>
        <ui-nav-inner routerLink="../start" [routerLinkActiveOptions]="{exact: true}">
          <ui-nav-thumbnail><span class="icon-home"></span></ui-nav-thumbnail>
          开始
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/architecture">
          <ui-nav-thumbnail><span class="icon-cogs"></span></ui-nav-thumbnail>
          架构设计
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/keywords">
          <ui-nav-thumbnail><span class="icon-books"></span></ui-nav-thumbnail>
          名词解释
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/todo-list">
          <ui-nav-thumbnail><span class="icon-clock"></span></ui-nav-thumbnail>
          开发计划
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="./dev">
          <ui-nav-thumbnail><span class="icon-embed2"></span></ui-nav-thumbnail>
          开发者中心
        </ui-nav-inner>
        <ui-nav>
          <ui-nav-item>
            <ui-nav-inner routerLink="./dev">
              <ui-nav-thumbnail><span class="icon-paint-format"></span></ui-nav-thumbnail>
              Handler
            </ui-nav-inner>
          </ui-nav-item>
          <ui-nav-item>
            <ui-nav-inner routerLink="./dev">
              <ui-nav-thumbnail><span class="icon-terminal"></span></ui-nav-thumbnail>
              Commander
            </ui-nav-inner>
          </ui-nav-item>
          <ui-nav-item>
            <ui-nav-inner routerLink="./dev">
              <ui-nav-thumbnail><span class="icon-hammer"></span></ui-nav-thumbnail>
              Hooks
            </ui-nav-inner>
          </ui-nav-item>
        </ui-nav>
      </ui-nav-item>
    </ui-nav>
  </ui-scroll>
</div>
<div class="right" [class.thumbnail]="thumbnail">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
