@import "../../../assets/scss/varibles";

.left {
  position: fixed;
  left: 0;
  top: 55px;
  width: 200px;
  bottom: 0;
  background-color: $color-lighter;
  //box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  z-index: 11;
  @media (min-width: $screen-xl-min) {
    width: 240px;
  }

  &.thumbnail {
    width: 80px;

    .about {
      padding-left: 0;
      padding-right: 0;

      .btn-group {
        display: none;
      }
    }

    .version {
      text-align: center;

      > span {
        display: none;
      }
    }
  }
}

h4 {
  font-size: 13px;
  font-weight: normal;
  background-color: $color-light;
  padding: 5px 15px;
}

.top {
  position: relative;
  z-index: 2;
}

.about {
  padding: 20px 15px;
  text-align: center;
  background: url("../../../assets/images/user-info.jpg") center center no-repeat;
  background-size: cover;
  height: 140px;

  .avatar {
    padding-bottom: 10px;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.version {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  background-color: $color-light;
  height: 30px;
  line-height: 30px;

  button {
    padding: 1px 3px;
  }
}

ui-scroll {
  font-size: 15px;
  position: absolute;
  top: 170px;
  padding-top: 10px;
  padding-bottom: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
  border-right: 1px solid $color-light;
}

.right {
  margin-left: 200px;

  @media (min-width: $screen-xl-min) {
    margin-left: 240px;
  }

  &.thumbnail {
    margin-left: 80px;
  }
}

.content {
  padding: 20px 230px 200px 30px;

  ::ng-deep > ui-panel {
    box-shadow: none;
  }
}
