<div class="left" [class.thumbnail]="thumbnail">
  <div class="top">
    <div class="about">
      <div class="avatar">
        <img src="../../../assets/images/avatar.jpeg">
      </div>
      <div class="btn-group">
        <a class="ui-btn ui-btn-sm ui-btn-success" href="mailto:tanbohb@gmail.com">Email</a>&nbsp;
        <a class="ui-btn ui-btn-sm ui-btn-success" target="_blank" href="https://github.com/tbhuabi/editor">Github</a>
      </div>
    </div>
    <div class="version">
      <button type="button" class="ui-btn ui-btn-sm ui-btn-dark" (click)="toggle()"><span class="icon-list"></span>
      </button>
      <span>&nbsp;当前版本：{{ version }}</span>
    </div>
  </div>
  <ui-scroll (wheel)="$event.preventDefault()">
    <ui-nav class="nav" [thumbnail]="thumbnail">
      <ui-nav-item>
        <ui-nav-inner routerLink="../start" [routerLinkActiveOptions]="{exact: true}">
          <ui-nav-thumbnail><span class="icon-home"></span></ui-nav-thumbnail>
          开始
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/upload">
          <ui-nav-thumbnail><span class="icon-upload"></span></ui-nav-thumbnail>
          上传图片及资源
        </ui-nav-inner>
      </ui-nav-item>
    </ui-nav>
    <h4>开发者中心</h4>
    <ui-nav>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/architecture">
          <ui-nav-thumbnail><span class="icon-cogs"></span></ui-nav-thumbnail>
          架构设计
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/keywords">
          <ui-nav-thumbnail><span class="icon-books"></span></ui-nav-thumbnail>
          名词解释
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/extend-formatter">
          <ui-nav-thumbnail><span class="icon-font"></span></ui-nav-thumbnail>
          自定义格式
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/extend-component">
          <ui-nav-thumbnail><span class="icon-images"></span></ui-nav-thumbnail>
          自定义组件
        </ui-nav-inner>
      </ui-nav-item>
<!--      <ui-nav-item>-->
<!--        <ui-nav-inner routerLink="../start/question">-->
<!--          <ui-nav-thumbnail><span class="icon-question"></span></ui-nav-thumbnail>-->
<!--          常见问题-->
<!--        </ui-nav-inner>-->
<!--      </ui-nav-item>-->
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/sponsorship">
          <ui-nav-thumbnail><span class="icon-rocket"></span></ui-nav-thumbnail>
          合作与赞助
        </ui-nav-inner>
      </ui-nav-item>
      <ui-nav-item>
        <ui-nav-inner routerLink="../start/about">
          <ui-nav-thumbnail><span class="icon-mobile"></span></ui-nav-thumbnail>
          联系我们
        </ui-nav-inner>
      </ui-nav-item>
    </ui-nav>
  </ui-scroll>
</div>
<div class="right" [class.thumbnail]="thumbnail">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
