<h1>Loading</h1>
<ui-divider></ui-divider>
<code-view>
  <h4 render="title" id="基础用法" uiAnchor>基础用法</h4>
  <div render="demo">
    <link rel="html" href="demo.html">
  </div>
  <div render="desc">
    用于异步操作的等待状态交互。
  </div>
  <div render="code">
    <ui-tab>
      <ui-tab-bar>
        <ui-tab-button>HTML</ui-tab-button>
      </ui-tab-bar>
      <ui-tab-view>
        <ui-tab-view-item>
          <link rel="markdown" href="demo.html">
        </ui-tab-view-item>
      </ui-tab-view>
    </ui-tab>
  </div>
</code-view>
<div class="doc-quick-links">
  <div class="anchor-links">
    <a uiAnchorLink routerLink="./" fragment="基础用法">基础用法</a>
  </div>
</div>
