<ui-panel class="ui-fill ui-primary">
  <ui-panel-header>
    <h3 class="ui-panel-title">面板标题</h3>
  </ui-panel-header>
  <ui-panel-body>
    <p class="ui-container-fluid">内容</p>
  </ui-panel-body>
  <ui-panel-footer>
    底部内容
  </ui-panel-footer>
</ui-panel>
<ui-panel class="ui-fill ui-success">
  <ui-panel-header>
    <h3 class="ui-panel-title">面板标题</h3>
  </ui-panel-header>
  <ui-panel-body>
    <p class="ui-container-fluid">内容</p>
  </ui-panel-body>
  <ui-panel-footer>
    底部内容
  </ui-panel-footer>
</ui-panel>
<ui-panel class="ui-fill ui-info">
  <ui-panel-header>
    <h3 class="ui-panel-title">面板标题</h3>
  </ui-panel-header>
  <ui-panel-body>
    <p class="ui-container-fluid">内容</p>
  </ui-panel-body>
  <ui-panel-footer>
    底部内容
  </ui-panel-footer>
</ui-panel>
<ui-panel class="ui-fill ui-warning">
  <ui-panel-header>
    <h3 class="ui-panel-title">面板标题</h3>
  </ui-panel-header>
  <ui-panel-body>
    <p class="ui-container-fluid">内容</p>
  </ui-panel-body>
  <ui-panel-footer>
    底部内容
  </ui-panel-footer>
</ui-panel>
<ui-panel class="ui-fill ui-danger">
  <ui-panel-header>
    <h3 class="ui-panel-title">面板标题</h3>
  </ui-panel-header>
  <ui-panel-body>
    <p class="ui-container-fluid">内容</p>
  </ui-panel-body>
  <ui-panel-footer>
    底部内容
  </ui-panel-footer>
</ui-panel>
